---
layout: default
title: Berna
---
<ul>
<li class="ul-header">Method:</li>
	{% for item in site.berna %}
		{% if item.category == "method" %}
			<li><a href="{{ item.url }}">{{ item.title }}</a></li>
		{% endif %}
	{% endfor %}
	<li class="ul-header">Warm-up:</li>
	{% for item in site.berna %}
		{% if item.category == "warm-up" %}
			<li><a href="{{ item.url }}">{{ item.title }}</a></li>
		{% endif %}
	{% endfor %}
<li class="ul-header">Structure:</li>
	{% for item in site.berna %}
		{% if item.layout == "revealjs-structure" %}
			<li><a href="{{ item.url }}">{{ item.title }}</a></li>
		{% endif %}
	{% endfor %}
<li class="ul-header">Talk about:</li>
	{% for item in site.berna %}
		{% if item.layout == "revealjs-talkabout" %}
			<li><a href="{{ item.url }}">{{ item.title }}</a></li>
		{% endif %}
	{% endfor %}
<li class="ul-header">Phonics:</li>
	{% for item in site.berna %}
		{% if item.layout == "revealjs-phonics" %}
			<li><a href="{{ item.url }}">{{ item.title }}</a></li>
		{% endif %}
	{% endfor %}
<li class="ul-header">Adicionais:</li>
	<li>
		<a href="https://docs.google.com/presentation/d/1eb_I_noamsuZXuSa1_k1et1SanNfGQkFyoAfhzbcVlY/present#slide=id.p13">Numbers</a>
	</li>
<li class="ul-header">Próximos passos:</li>
	<li>Learning Map</li>
	<li>Repetition (A+B)</li>
</ul>