---
title: Música para Todos
destaque:
  - number: Exemplo
    title: Em Busca de uma Nova Realidade
    fina: Conheça o projeto criado por um grupo de jovens para lutar para que mais crianças tenham acesso à educação em Salvador (BA) 
    call: Compartilhe!
  - number: 1
    title: Alfabetização musical em Jaguará do Sul (SC)
    fina: Projeto dá acesso a formação musical gratuita e de qualidade a mais de 250 alunos por ano.
    call: Conheça a iniciativa!
  - number: 2
    title: Formação musical abrangente e gratuita
    fina: Projeto já beneficiou aproximadamente 3 mil crianças, jovens e adultos em Jaguará do Sul (SC).
    call: Seja um voluntário!
  - number: 3
    title: Educação, cultura e sensibilidade
    fina: Música para Todos oferece cursos gratuitos para pessoas em situação de vulnerabilidade social em Jaguará do Sul (SC).
    call: Divulgue a iniciativa!
  - number: 4
    title: Música e cultura como oportunidade
    fina: Iniciativa em Jaguará do Sul (SC) oferece alternativas de futuro e a pessoas em situação de vulnerabilidade social.
    call: Compartilhe!
  - number: 5
    title: A oportunidade está na música!
    fina: Projeto Música para Todos ensina mais de 20 instrumentos e possibilita desenvolvimento social aos seus alunos.
    call: Ajude a divulgar!
  - number: 6
    title: À moda da casa!
    fina: 80% dos músicos da Orquestra Filarmônica de Jaraguá do Sul (SC) são naturais e/ou residentes na cidade.
    call: Entenda o porquê!
  - number: 7
    title: Resultados visíveis...
    fina:  e escutáveis! Em Jaraguá do Sul (SC), projeto Música Para Todos abastece a cidade com músicos e espetáculos.
    call: Acompanhe a iniciativa!
  - number: 8
    title: Made in Jaraguá do Sul (SC)
    fina: Apresentações dos alunos do projeto Música para Todos são assistidas por mais de 3.500 cidadãos a cada ano.
    call: Contribua!
  - number: 9
    title: Formação musical, na teoria e na prática!
    fina:  Desde 2006, projeto Música para Todos oferece e alternativas de geração de renda em Jaguará do Sul (SC).
    call: Fale com a coordenadora!
  - number: 10
    title: Musicalizando futuros
    fina: Ajude a garantir a continuidade do projeto de formação música Música para Todos, em Jaguará do Sul (SC).
    call: Seja um voluntário digital!

---

<h1 style="text-align: center;">{{ page.title }}</h1>


<!-- 
<table>
<tr>
  <th>Número</th>
  <th>Título</th>
  <th>Linha Fina</th>
  <th>Call to Action</th>
</tr>

{% for item in page.destaque %}
<tr>

<td>{{ item.number }}</td>
<td>{{ item.title }}</td>
<td>{{ item.fina }}</td>
<td>{{ item.call }}</td>

</tr>
{% endfor %} 
</table>
-->



	
{% for item in page.destaque %}
<div style="width:350px; height: 400px; float: left; border: 1px solid #000; margin: 10px;">
<h5 style="text-align: center; background-color: #000; color: #FFF; margin: 0; padding: 0; font-style: italic;">{{ item.number }}</h5>
<h1 style="text-transform: uppercase;">{{ item.title }}</h1>
<h2>{{ item.fina }}</h2>
<p style="text-align: center;"><button>{{ item.call }}</button></p>
</div>
{% endfor %}

