<script src="/revealjs/lib/js/head.min.js"></script>
<script src="/revealjs/js/reveal.js"></script>

<input id="title" value="{{ page.title }}" style="display: hidden">

<script>

  var pagetitle = document.getElementById("title").value;

  // Full list of configuration options available at:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: false,
    progress: true,
    autoSlide: false,
    history: false,
    center: true,

    /*audio: {
                prefix: '/revealjs/audio/'+pagetitle+"/",   // audio files are stored in the "audio" folder
                suffix: '.ogg',   // audio files have the ".ogg" ending
                textToSpeechURL: null,  // the URL to the text to speech converter
                defaultText: false,   // use slide text as default for the text to speech converter
                advance: 0,     // advance to next slide after given time in milliseconds after audio has played, use negative value to not advance 
                autoplay: false,  // automatically start slideshow
                defaultDuration: 15, // default duration in seconds if no audio is available 
                playerOpacity: 0.05,  // opacity value of audio player if unfocused
                startAtFragment: false, // when moving to a slide, start at the current fragment or at the start of the slide
            },*/

    transition: 'none', // none/fade/slide/convex/concave/zoom

    // Optional reveal.js plugins
    dependencies: [
      { src: '/revealjs/lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: '/revealjs/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: '/revealjs/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: '/revealjs/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: '/revealjs/plugin/zoom-js/zoom.js', async: true },
                { src: '/revealjs/plugin/notes/notes.js', async: true },
                /*{ src: '/revealjs/plugin/audio-slideshow/slideshow-recorder.js', condition: function( ) { return !!document.body.classList; } },
                { src: '/revealjs/plugin/audio-slideshow/audio-slideshow.js', condition: function( ) { return !!document.body.classList; } },*/
    ],
            keyboard: { 
                82: function() { Recorder.toggleRecording(); }, // press 'r' to start/stop recording
                90: function() { Recorder.downloadZip(); },   // press 'z' to download zip containing audio files
                84: function() { Recorder.fetchTTS(); }   // press 't' to fetch TTS audio files
            }
  });

</script>