---
title: Describing Images
layout: revealjs-default
category: structure
---
<section>
	<h1>Images</h1>
</section>
<section>
	<h2>Best Practices</h2>
	<ul>
		<li>Look at your picture carefully.</li>
		<li>Think before you start talking.</li>
		<li>Try to recall some useful words.</li>
		<li>You won't remember everything.</li>
		<li>Focus on the picture.</li>
		<li>Talk for all the time you are given.</li>
		<li>Take deep breaths whenever you need.</li>
	</ul>
</section>
{% for item in site.images %}
<section data-background-image="../images/files/{{ item.source }}.jpg">
	<section>
		&nbsp;
	</section>
	<section>
		<!-- <h3 class="legenda">Vocabulary</h3><br> -->
		<p class="legenda">
			{% for item in item.vocabulary %}
				{{ item }} &bullet;
			{% endfor %}
		</p>
	</section>
	<section>
		<h4 class="legenda">In the picture I can see ...</h4>
	</section>
	<section>
		<h4 class="legenda">There is/are also ...</h4>
	</section>
	<section>
		<h5 class="legenda">The man is ...ing</h5>
		<br>
		<h5 class="legenda">The people are ...ing</h5>
		<br>
		<h5 class="legenda">It's raining.</h5>
	</section>
</section>
{% endfor %}