---
layout: revealjs-default
---

<section>
    <h2>VOCABULARY</h2>
    <h1>{{ page.title }}</h1>
</section>

<section>
	{% for item in page.script %}
	    {{ item }} •
	{% endfor %}
</section>

{% if page.script2 %}
	<section>
		{% for item in page.script2 %}
	    	{{ item }} •
		{% endfor %}
	</section>
{% endif %}

{% if page.script3 %}
	<section>
		{% for item in page.script3 %}
	    	{{ item }} •
		{% endfor %}
	</section>
{% endif %}

{% if page.script4 %}
	<section>
		{% for item in page.script4 %}
	    	{{ item }} •
		{% endfor %}
	</section>
{% endif %}

{% if page.script5 %}
	<section>
		{% for item in page.script5 %}
	    	{{ item }} •
		{% endfor %}
	</section>
{% endif %}

{% if page.script6 %}
	<section>
		{% for item in page.script6 %}
	    	{{ item }} •
		{% endfor %}
	</section>
{% endif %}

{% if page.script7 %}
	<section>
		{% for item in page.script7 %}
	    	{{ item }} •
		{% endfor %}
	</section>
{% endif %}

{% if page.script8 %}
	<section>
		{% for item in page.script8 %}
	    	{{ item }} •
		{% endfor %}
	</section>
{% endif %}

{% if page.script9 %}
	<section>
		{% for item in page.script9 %}
	    	{{ item }} •
		{% endfor %}
	</section>
{% endif %}

{% if page.script10 %}
	<section>
		{% for item in page.script10 %}
	    	{{ item }} •
		{% endfor %}
	</section>
{% endif %}