---
layout: revealjs-default
---

<section>
    <h2>Mini-thesis</h2>
    <h1>{{ page.title }}</h1>
</section>

{% if page.vocabulary %}
<section>
    <p>
        {% for i in (0..10) %}
                {% if page.vocabulary[i] %}
                    {{ page.vocabulary[i] }}
                    &bull;
                {% endif %}
        {% endfor %}
    </p>
</section>
{% endif %}

<section>
    <p>
        {% for i in (0..10) %}
                {% if page.paragraph[i] %}
                    {{ page.paragraph[i] }}
                {% endif %}
        {% endfor %}
    </p>
</section>

<!-- <section>
    {{ page.p1 }}
    {{ page.p2 }}
    {{ page.p3 }}
    {{ page.p4 }}
    {{ page.p5 }}
</section> -->
{% for i in (0..10) %}
    {% if page.paragraph[i] %}
        <section>
        <p>{{ page.paragraph[i] }}</p>
    </section>
    {% endif %}
{% endfor %}
<!-- </section>
<section>
    <p>{{ page.p1 }}</p>
</section>
<section>
    <p>{{ page.p2 }}</p>
</section>
<section>
    <p>{{ page.p3 }}</p>
</section>
<section>
    <p>{{ page.p4 }}</p>
</section>
<section>
    <p>{{ page.p5 }}</p>
</section> -->