---
layout: revealjs-default
---

<section>
    <h2>SONG</h2>
    <p>{{ page.title }}</p>
</section>

<section>
	<h3>Complete</h3>
<audio src="audio/{{ page.source }}/full.mp3" controls>
</audio>
</section>
<section>
	<h3>Line - {{ page.number }}</h3>
	<h4>Da Di</h4>
	<p style="text-align: left;">{{ page.phonemes }}</p>
	<audio src="audio/{{ page.source }}/{{ page.number }}/da-di.mp3" controls>
	</audio>
</section>
<section>
	<h3>Line - {{ page.number }}</h3>
	<h4>Learn</h4>
	<h5>{{ page.sentence1 }}</h5>
	<p style="text-align: left;">{{ page.phonemes }}</p>
	<audio src="audio/{{ page.source }}/{{ page.number }}/phonemes.mp3" controls>
	</audio>
</section>
<section>
	<h3>Line - {{ page.number }}</h3>
	<h4>Sing</h4>
	<h5>{{ page.sentence1 }}</h5>
	<p style="text-align: left;">{{ page.phonemes }}</p>
	<audio src="audio/{{ page.source }}/{{ page.number }}/da-phoneme.mp3" controls>
	</audio>
</section>
<section>
	<h3>Line 1</h3>
	<h4>40%</h4>
	<p style="text-align: left;">{{ page.transcription }}</p>
	<audio src="audio/{{ page.source }}/{{ page.number }}/40.mp3" controls>
	</audio>
</section>
<section>
	<h3>Line 1</h3>
	<h4>30%</h4>
	<p style="text-align: left;">{{ page.transcription }}</p>
	<audio src="audio/{{ page.source }}/{{ page.number }}/30.mp3" controls>
	</audio>
</section>
<section>
	<h3>Line 1</h3>
	<h4>20%</h4>
	<p style="text-align: left;">{{ page.transcription }}</p>
	<audio src="audio/{{ page.source }}/{{ page.number }}/20.mp3" controls>
	</audio>
</section>
<section>
	<h3>Line 1</h3>
	<h4>Full Speed</h4>
	<p style="text-align: left;">{{ page.transcription }}</p>
	<audio src="audio/{{ page.source }}/{{ page.number }}/0.mp3" controls>
	</audio>
</section>