---
layout: revealjs-default
---

<section>
    <h2>Talk About Your</h2>
    <h1>{{ page.title }}</h1>
</section>

<section>
    <ol>
    {% for i in (0..page.quantity) %}
        <li>{{ page.script[i)] }}</li>
    {% endfor %}
    </ol>
</section>

<!--
<section>
<ol start="1">
    <li>{{ page.script[0] }}</li>
    <li>{{ page.script[1] }}</li>
    <li>{{ page.script[2] }}</li>
    <li>{{ page.script[3] }}</li>
    <li>{{ page.script[4] }}</li>
</ol>
</section>
-->

<section>
<ol start="6">
    <li>{{ page.script[5] }}</li>
    <li>{{ page.script[6] }}</li>
    <li>{{ page.script[7] }}</li>
    <li>{{ page.script[8] }}</li>
    <li>{{ page.script[9] }}</li>
</ol>
</section>
<section>
<ol start="11">
    <li>{{ page.script[10] }}</li>
    <li>{{ page.script[11] }}</li>
    <li>{{ page.script[12] }}</li>
    <li>{{ page.script[13] }}</li>
    <li>{{ page.script[14] }}</li>
</ol>
</section>
<section>
<ol start="16">
    <li>{{ page.script[15] }}</li>
    <li>{{ page.script[16] }}</li>
    <li>{{ page.script[17] }}</li>
    <li>{{ page.script[18] }}</li>
    <li>{{ page.script[19] }}</li>
</ol>
</section>
<section>
<ol start="21">
    <li>{{ page.script[20] }}</li>
    <li>{{ page.script[21] }}</li>
    <li>{{ page.script[22] }}</li>
    <li>{{ page.script[23] }}</li>
    <li>{{ page.script[24] }}</li>
</ol>
</section>
<section>
<ol start="26">
    <li>{{ page.script[25] }}</li>
    <li>{{ page.script[26] }}</li>
    <li>{{ page.script[27] }}</li>
    <li>{{ page.script[28] }}</li>
    <li>{{ page.script[29] }}</li>
</ol>
</section>
<section>
<ol start="21">
    <li>{{ page.script[30] }}</li>
    <li>{{ page.script[31] }}</li>
    <li>{{ page.script[32] }}</li>
    <li>{{ page.script[33] }}</li>
    <li>{{ page.script[34] }}</li>
</ol>
</section>