---
layout: revealjs-default
---

<section>
    <h2>VIDEO</h2>
    <p>{{ page.title }}</p>
</section>

<section>
<video data-autoplay src="videos/{{ page.source }}.{{ page.video-format }}" controls loop>
</video>
</section>
<section>
	<p style="text-align: left;">{{ page.transcription }}</p>
	<audio data-autoplay src="videos/{{ page.source }}.mp3" controls loop>
	</audio>
</section>
<section>
	<p>{{ page.tr1 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-1.mp3" controls loop>
	</audio>
</section>
<section>
	<p>{{ page.tr2 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-2.mp3" controls loop>
	</audio>
</section>
<section>
	<p>{{ page.tr3 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-3.mp3" controls loop>
	</audio>
</section>
<section>
	<p>{{ page.tr4 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-4.mp3" controls loop>
	</audio>
</section>
<section>
	<p>{{ page.tr5 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-5.mp3" controls loop>
	</audio>
</section>
{% if page.tr6 %}
<section>
	<p>{{ page.tr6 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-6.mp3" controls loop>
	</audio>
</section>
{% endif %}
{% if page.tr7 %}
<section>
	<p>{{ page.tr7 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-7.mp3" controls loop>
	</audio>
</section>
{% endif %}
{% if page.tr8 %}
<section>
	<p>{{ page.tr8 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-8.mp3" controls loop>
	</audio>
</section>
{% endif %}
{% if page.tr9 %}
<section>
	<p>{{ page.tr9 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-9.mp3" controls loop>
	</audio>
</section>
{% endif %}