---
layout: revealjs-default
---

<section>
    <h2>VOCABULARY</h2>
    <h1>{{ page.title }}</h1>
</section>

<section>
	{% for item in page.script %}
	    {{ item }} •
	{% endfor %}
</section>
<section>
	{% for item in page.script %}
	    <span class="fragment"> {{ item }} •</span>
	{% endfor %}
</section>

{% if page.script2 %}
	<section>
		{% for item in page.script2 %}
	    	{{ item }} •
		{% endfor %}
	</section>
	<section>
		{% for item in page.script2 %}
		    <span class="fragment"> {{ item }} •</span>
		{% endfor %}
	</section>
{% endif %}