---
layout: revealjs-default
---

<section>
    <h2>VIDEO</h2>
    <p>{{ page.title }}</p>
</section>

<section>
<video data-autoplay src="videos/{{ page.source }}.mp4" controls loop>
</video>
</section>
<section>
	<p style="text-align: left;">{{ page.transcription }}</p>
	<audio data-autoplay src="videos/{{ page.source }}.mp3" controls loop>
	</audio>
</section>
<section>
	<p>{{ page.tr1 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-1.mp3" controls loop>
	</audio>
</section>
<section>
	<p>{{ page.tr2 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-2.mp3" controls loop>
	</audio>
</section>
<section>
	<p>{{ page.tr3 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-3.mp3" controls loop>
	</audio>
</section>
<section>
	<p>{{ page.tr4 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-4.mp3" controls loop>
	</audio>
</section>
<section>
	<p>{{ page.tr5 }}</p>
	<audio data-autoplay src="videos/{{ page.source }}-5.mp3" controls loop>
	</audio>
</section>