---
title: Prefixes
layout: revealjs-default
category: warm-up
suffixes1:
- name: un
  examples: unadmissible, unhappy, unstable, unprofessional, unavailable, unconventional, uncertainty
- name: de
  examples: decode, decompose, deconstruct, decrease, deform.
- name: dis
  examples: disagree, dishonor, disapprove, disbelieve, dissociate
suffixes2:
- name: im
  examples: imperfect, immoral, impredictable, immutable, immature, impatient, impossible, imprecise
- name: i
  examples: illegal, illegible, illiterate, illogical
- name: in
  examples: "inaccessible, inadequate, incapable, incompatible, incomplete, inconsistent, incredible, inevitable, infinite, inflexible, insecure, insignificant, insufficient, invalid, invisible, involuntary"
suffixes3:
- name: mis
  examples: miscalculate, misdial, misbehave, misdeliver, miscopy, 
- name: non
  examples: nonexistent, nonresident, nonrestrictive, nonsensical, nonstop 
- name: co
  examples: "co-exist, co-operate, co-own, co-work, co-teach"
suffixes4:
- name: re
  examples: restructure, revisit, reappear, rebuild, refinance
- name: over
  examples: overbook, oversleep, overwork
- name: under
  examples: underfund, undersell, undervalue, underdevelop
---
<section>
	<h1>Prefixes</h1>
</section>
<section>
<table>
	<tr>
		<td>un-</td>
		<td>de-</td>
		<td>dis-</td>
	</tr>
	<tr class="fragment">
		<td>im-</td>
		<td>i-</td>
		<td>in-</td>
	</tr>
	<tr class="fragment">
		<td>mis-</td>
		<td>non-</td>
		<td>co-</td>
	</tr>
	<tr class="fragment">
		<td>re-</td>
		<td>over-</td>
		<td>under-</td>
	</tr>
</table>
</section>
<section>
	<table>
{% for suffixes1 in page.suffixes1 %}
		<tr>
			<th>{{ suffixes1.name }}-</th>
			<td>
				{{ suffixes1.examples }}
			</td>
		</tr>
{% endfor %}
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</section>
<section>
	<table>
{% for suffixes2 in page.suffixes2 %}
		<tr>
			<th>{{ suffixes2.name }}-</th>
			<td>
				{{ suffixes2.examples }}
			</td>
		</tr>
{% endfor %}
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</section>
<section>
	<table>
{% for suffixes3 in page.suffixes3 %}
		<tr>
			<th>{{ suffixes3.name }}-</th>
			<td>
				{{ suffixes3.examples }}
			</td>
		</tr>
{% endfor %}
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</section>
<section>
	<table>
{% for suffixes4 in page.suffixes4 %}
		<tr>
			<th>{{ suffixes4.name }}-</th>
			<td>
				{{ suffixes4.examples }}
			</td>
		</tr>
{% endfor %}
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>
</section>